@import url("./globals.css");

main p {
  color: var(--secondary-text-color);
}

.benefits-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0 20px 0;
}

.benefits {
  color: var(--text-color);
  background-color: var(--surface-secondary);
  border: 1px solid var(--border);
  border-radius: 7px;
  padding: 10px;
}

.team-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;

  margin: 10px 0 20px 0;
}

.team-section p {
  color: var(--text-color);
}

.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  background-color: var(--surface-tertiary);
  border: 1.9px solid var(--light-primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px;
}

.technologies-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0 20px 0;
}

.technologies {
  background-color: var(--surface-secondary);
  width: 50px;
  height: 50px;
  color: var(--secondary-text-color);
  font-size: var(--font-destacada);
  border: 1px solid var(--border);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
